body {
  background: linear-gradient(90deg, #5972c2, #314173);
  color: #120907;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}
.container {
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background-color: #5972c2;
  border-radius: 20px;
}
.title {
  color: #120907;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.tipsForm {
  padding-left: 20px;
  padding-right: 20px;
}

.formInput {
  background: white;
  width: 40px;
  padding: 5px 5px 8px 8px;
}

.formInput:focus {
  border: 3px solid #314173;
  outline: none;
}

.formSelect {
  width: 140px;
  padding: 5px;
  font-size: 12px;
  background: white;
}

.formSelect:focus{
border: 3px solid #314173;
  outline: none;
  }


.formSubmit {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: linear-gradient(45deg, #5972c2, #314173);
  border-radius: 20px;
  width: 100px;
  height: 50px;
  font-size: 15px;
  color: #120907;

}

#totalTip {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  color: #120907;
}
